/* toDO: barcharts.scss*/
/* This shows the small ticks on Y axis */
.axis path,
.axis line {
  fill: none;
}

.x.axis {
  display: none;
}

.y.axis {
  display: none;
  font-size: 16px;
}

.y.axis path {
  display: none;
}
/*#006400 #008400 #7ED321*/
.bar {
  position: absolute;
  fill: $green;
  stroke: $green;
}

.bar:hover {
  fill: $very-dark-green;
  stroke: $very-dark-green;
}

.barLabel {
  font-size: 16px;
  /*font-weight: bold;*/
}

.barTitle {
  font-size: 16px;
}

#SchoolDegree .barTitle,
#SchoolMajor .barTitle,
#JobPref .barTitle,
#JobRoleInterest .barTitle,
#CountryLive .barTitle,
#EmploymentStatus .barTitle,
#EmploymentField .barTitle,
#CityPopulation .barTitle,
#JobWherePref .barTitle,
#Podcast .barTitle,
#JobApplyWhen .barTitle
 {
  font-size: 14px;
}
