$green:#7ED321;
$dark-green: #417505;
$gray: #F6F6F6;
$dark-gray: #D8D8D8;
@mixin article($bg-color:$gray) {
  width: 100%;
  background: $bg-color;
  padding: 30px 50px;
  h3 { margin-top: 0px; }

  @media screen and (min-width: 800px) {
    width: 33.333%;
    display: table-cell;
  }
}

body {
  margin: 0;
  font-family: "Roboto", "sans serif";
  a {
    color: $dark-green;
    text-decoration: none;
  }
}

@import "header";

section {
  header {
    background: $gray;
    border: $dark-gray solid 2px;
    padding: 30px 50px;
  }
  header {
    color: black;
    text-align: left;
    h2 {
     text-transform: uppercase;
     padding-right: 10px;
    }
    h2, p {
      display: inline;
      vertical-align: middle;
    }
  }

  .tag-sections, .charts {
    display: table;
    width: 100%;
  }

  article.tags {
    @include article();
    border: $dark-gray solid 2px;
    border-left: none;
    border-top: none;

    .tag {
      display: inline-block;
      margin-bottom: 20px;
      a {
        border: $dark-gray solid 2px;
        padding: 5px 10px;
        color: $dark-green;
        background: white;
        &:hover {
          background: $green;
          color: white;
          border-color: $green;
        }
      }
    }
  }

  article.chart {
    @include article(white);
  }
}

footer {
  @include clearfix;
  padding: 30px 50px;
  border: solid $dark-gray 1px;
  background: $gray;
  div {
    &:last-child h2 { text-transform: uppercase;}
    @media screen and (min-width: 700px) {
      @include span-columns(6);
    }
  }
}
