.charts {
  @include clearfix;
  padding: 0px 50px 50px;

  .chart { @include span-columns(12); }

  @media screen and (min-width: 800px) {
    padding: 30px 50px 50px;
    &.medium .chart { @include span-columns(6); }
    &.small .chart { @include span-columns(4); }
  }
}

.chart {
  .chart-graphic {
    border: solid $gray 3px;
    width: 100%;
    height: 60px;
  }

  @media screen and (min-width: 800px) {
    display: table-cell;
  }
}
